/* Login Page Styling */

.home-title {
  color: white;
  font-size: 250%;
  font-weight: bold;
}

.home-subtitle {
  color: white;
  font-size: 100%;
}

.btn-custom {
  background-color: #1ed760;
  border-radius: 15px;
}

.login-box-size {
  min-width: 60%;
  margin: auto;
  text-align: center;
  font-size: xx-small;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: #191515;
}

.elements {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
