.newforyou{
    width: 440px;
    position: fixed;
    height: 28vh;
    background: #F5F5F7;
    border-radius: 14px;
}
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

