.card {
    background-color: #F5F5F7;
    border-radius: 25px;
    display: flex; 
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    width: 620px;
    height: 80px;
}

.song-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.stats-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.stats-info p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
    font-size: 13px;
    display: flex; 
    gap: 0.5rem;
}

.song-info strong {
    font-weight: 800;
}

.img {
    border-radius: 10px;
    overflow: hidden
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}