.bigger { font-size:200%; }

.weeklyone{
    width: 200px;
    position: fixed;
    height: 12vh;
    background: #F5F5F7;
    border-radius: 14px;
    padding:27px;
    text-align: right; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.weeklytwo{
    width: 200px;
    position: fixed;
    left: 210px;
    height: 12vh;
    background: #F5F5F7;
    border-radius: 14px;
    padding:27px;
    text-align: right; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.weeklythree{
    width: 200px;
    position: fixed;
    left: 420px;
    height: 12vh;
    background: #F5F5F7;
    border-radius: 14px;
    padding:27px;
    text-align: right; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}