.bigger {
    font-weight: 800;
    font-size: 200%;
    align-items:center;
}
.weeklyone{
    width: 200px;
    position: fixed;
    height: 12vh;
    line-height: 500%;
    padding-left: 15px;
    background: #F5F5F7;
    border-radius: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.weeklytwo{
    width: 200px;
    position: fixed;
    left: 210px;
    height: 12vh;
    background: #F5F5F7;
    border-radius: 14px;
    line-height: 500%;
    padding-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.weeklythree{
    width: 200px;
    position: fixed;
    left: 420px;
    height: 12vh;
    background: #F5F5F7;
    border-radius: 14px;
    line-height: 500%;
    padding-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}